# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# local files
.DS_Store
*.pem
.env*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel and typescript
.vercel
*.tsbuildinfo
next-env.d.ts
